/* ABSTRACTS */
@import "abstracts/variables";
@import "abstracts/mixins";

/* BASE */
@import "base/reset";

/* LAYOUT */
@import "layout/header";
@import "layout/hero";
@import "layout/footer";

/* COMPONENTS */
@import "components/buttons";
@import "components/cards";

/* PAGES */
@import "pages/home";
@import "pages/prendas";
